<div class="container w-50 mt-5 text-center">
  <div class="text-center m-3 text-white display-3 fw-bolder">
    Word Limit : {{ limit }}
  </div>
  <input 
    type="range" 
    min="1" 
    max="50" 
    value="{{ limit }}" 
    class="slider form-control-range"
    (change)="limitUpdater($event.target.value)"
  >
  <div class="check">
    <button class="btn btn-info" (click)="generateWords()">Generate Words</button>
    <button class="btn btn-info" (click)="generateRandomWords()">Random Words</button>
  </div>
  <div *ngIf = "words" class="card card-body">
    <p class="display-4">
      {{ words }}
    </p>
  </div>
</div>